@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-image: url(../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    margin: auto;
}

nav{
    display: inline;
}

.icone{
    display: block;
    height: 50px;
    width: 50px;
}

.icone > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

iframe{
    width: 400px;
    height: 706px
}